@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root{
    /* Fonts */
    --nunito: 'Nunito Sans', sans-serif; 
    --lato: font-family: 'Lato', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    --michroma: 'Michroma', sans-serif;
    /* Colors */
    --text-gray-300: #555555;
    --text-gray-200: #6c757d;
    --text-gray-100: #C5C5C5;
    --text-blue-100: #337ab7;
    --text-blue-200: #006ba1;
    --text-blue-300: #005a87;
    --text-blue-400: #0e2469;
    --text-blue-500: #02275b;
    --blue-admin: #3366cc;
    --blue-fb: #3b5999;
    --red-ig: #e4405f;
}

/*
    Global Page Element Styles
    ==========================
*/

body{
    font-family: var(--montserrat);
}

.navbar-brand{
    font-family: var(--michroma);
}

.navbar-brand:hover{
    color: var(--text-gray-300) !important;
}

/* Removes the default styling from the toggler.
------------------------------------------------ */
.navbar-toggler{
    border-width: inherit;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
}

/* Custom Underline Hover */
.nav-link:hover:after{
    content: '';
    height: 1px;
    background: black; 
    display:block;
}

/* Global Footer Styling */
.footer{
    font-size: 0.8rem;
}

.copyright{
    color: var(--text-gray-200);
}

.admin{
    color: #000000;
    text-decoration: none;
}

.admin:hover{
    color: var(--blue-admin);
}

.fa-instagram, .fa-facebook{
    font-size: 1.4rem;
    color: #000000;
}

.fa-instagram{
    margin-right: 0.35rem;
}

.fa-instagram:hover{
    color: var(--red-ig);
}

.fa-facebook:hover{
    color: var(--blue-fb);
}
