:root{
    /* Fonts */
    --nunito: 'Nunito Sans', sans-serif;
    --lato: 'Lato', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    --michroma: 'Michroma', sans-serif;
    /* Colors */
    --text-gray-300: #555555;
    --text-gray-200: #6c757d;
    --text-gray-100: #C5C5C5;
    --text-blue-100: #337ab7;
    --text-blue-200: #006ba1;
    --text-blue-300: #005a87;
    --text-blue-400: #0e2469;
    --text-blue-500: #02275b;
    --link-blue: #0d6efd;
    --blue-admin: #3366cc;
    --mail-clr: #B69E7F;
    --blue-fb: #3b5999;
    --red-ig: #e4405f;
}

/*
    Global Page Element Styles
    ==========================
*/

body{
    font-family: var(--montserrat); 
}

.navbar-brand{
    font-family: var(--nunito);
    text-transform: uppercase;
}

/* Removes the default styling from the toggler.
------------------------------------------------ */
.navbar-toggler{
    border-width: inherit;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
}

/* Custom Underline Hover */
.nav-link:hover:after{
    content: '';
    height: 1px;
    background: black; 
    display:block;
}

/* Global Text Styling */
.sm-header-1{
    font-size: 1rem;
}

.sm-header-2{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
}

.sm-text-1{
    line-height: 1.4rem;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.5);
}

.sm-text-2{
    line-height: 1.4rem;
    font-size: 0.9rem;
    color: #212529;
}

/* Global Footer Styling */
.footer{
    font-size: 0.8rem;
}

.copyright{
    color: var(--text-gray-200);
}

.admin{
    color: #212529;
    text-decoration: none;
}

.admin:hover{
    color: var(--blue-admin);
}

.fa-instagram, .fa-facebook, .fa-envelope{
    font-size: 1.4rem;
    color: #212529;
}

.fa-instagram, .fa-envelope{
    margin-right: 0.35rem;
}

.fa-envelope:hover{
    color: var(--mail-clr);
}

.fa-instagram:hover{
    color: var(--red-ig);
}

.fa-facebook:hover{
    color: var(--blue-fb);
}

/* ++ MEDIA QUERIES ++ */

@media screen and (max-width: 991.9px){
    .nav-link:hover:after{
        display:none;
    }
}
