:root{
    /* Fonts */
    --nunito: 'Nunito Sans', sans-serif;
    --lato: 'Lato', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    /* Colors */
    --text-blue-100: #337ab7;
    --text-gray-300: #555555;
    --text-gray-200: #6c757d;
    --text-gray-100: #C5C5C5;
    --link-blue: #0d6efd;
    --blue-admin: #3366cc;
    --mail-clr: #B69E7F;
    --red-ig: #e4405f;
    --blue-fb: #3b5999;
}

/*
    Global Page Element Styles
    ==========================
*/

body{
    font-family: var(--montserrat); 
}

.navbar-brand{
    font-family: var(--nunito);
    text-transform: uppercase;
}

.no-hover{
    pointer-events: none;
}

/* Custom Underline Hover */

.nav-link:hover:after{
    content: '';
    height: 1px;
    background: black; 
    display:block;
}

/*
    This fixes the error where the underline hover effect spans across the whole line when you click on the navigation bar. 
    Also, it's not needed for mobile and tablet devices anyways. 
*/

@media screen and (max-width: 991.9px){
    .nav-link:hover:after{
        display:none;
    }
}

/* Removes the default styling from the toggler.
------------------------------------------------ */

.navbar-toggler{
    border-width: inherit;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
}

/* Global Text Styling */

.sm-header-1{
    font-size: 1rem;
}

.sm-header-2{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
}

.sm-text-1{
    line-height: 1.4rem;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.5);
}

.sm-text-2{
    line-height: 1.4rem;
    font-size: 0.9rem;
    color: #212529;
}

/* Global Footer Styling */

.footer{
    font-size: 0.8rem;
}

.copyright{
    color: var(--text-gray-200);
}

.admin{
    color: #212529;
    text-decoration: none;
}

.admin:hover{
    color: var(--blue-admin);
}

.fa-instagram, .fa-facebook, .fa-envelope{
    font-size: 1.4rem;
    color: #212529;
}

.fa-instagram, .fa-envelope{
    margin-right: 0.35rem;
}

.fa-envelope:hover{
    color: var(--mail-clr);
}

.fa-instagram:hover{
    color: var(--red-ig);
}

.fa-facebook:hover{
    color: var(--blue-fb);
}
