.sm-text strong a{
    text-decoration: none;
    color: var(--text-blue-100);
}

.sm-text strong a:hover{
    color: var(--text-blue-200);
}

.sm-text.other-links a{
    text-decoration: none;
    color: #000000;
}

.sm-text.other-links a:hover{
    color: var(--link-blue);
    text-decoration: underline;
}
