.exhibition-title{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
}

.exhibition-subtitle, .exhibition-description{
    line-height: 1.4rem;
    font-size: 0.9rem;
}

/* Grayscale hover effect for both second images. 
------------------------------------------------- */
img:hover{
    transition: filter 500ms linear;
    filter: grayscale(50%);
}

/*
    Shining on Hover
    ================
*/

.image-container{
    position:relative;
    overflow:hidden;
    display: inline-block;
}

.image-container:before{
    position:absolute;
    top:0;
    left:-75%;
    z-index:2;
    display:block;
    content:'';
    width:50%;
    height:100%;
    background:linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%);
    transform:skewX(-25deg);
}

.image-container:hover:before{
    animation:shine .60s;
}
  
@keyframes shine{
    0%   {left: -75%}
    100% {left: 120%;}
}
