.exhibition-title{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
}

.exhibition-subtitle, .exhibition-description{
    line-height: 1.4rem;
    font-size: 0.9rem;
}

/* Hue Rotate hover effect for both images. 
------------------------------------------- */
img:hover{
    transition: filter 500ms linear;
    filter: hue-rotate(90deg);
}
