/* 
    +------------------------------------+
    |             Index Page             |
    +------------------------------------+
*/

.mySlides{
    display: none;
}

/* Will fit the images to the current screen size. 
-------------------------------------------------- */
img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container{
    position: relative;
    margin: auto;
}

/* Fading animation */
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade{
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade{
    from {opacity: .4} 
    to {opacity: 1}
}

/* Places the text description above the images. 
-------------------------------------------------- */
.index-header, .index-description, .copyright{
    position: absolute;
    font-family: var(--header-font);
    letter-spacing: 0.02rem;
}

a{
    text-decoration: none;
    color: #fff;
}

.index-header{
    font-size: 1.9rem;
    top: 5%;
    left: 8.85%;
}

.index-description{
    font-size: 1.9rem;
    top: 42.5%;
    left: 8.85%;
    line-height: 1.25em;
}

.copyright{
    font-size: 1rem;
    padding: 0.188rem 0.625rem;
    bottom: 4%;
    right: 2%;
}

/* MEDIA QUERIES */
@media screen and (max-width: 325px){
    .index-header, .index-description{
        font-size: 1.2rem;
    }

    .copyright{
        left: 6.85%;
    }
}

@media (min-width: 326px) and (max-width: 480px){
    .index-header, .index-description{
        font-size: 1.4rem;
    }

    .copyright{
        left: 6.85%;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .index-header, .index-description{
        font-size: 1.6rem;  
    }
    
    .copyright{
        left: 6.85%;
    }
}
