/* 
    +------------------------------------+
    |             Index Page             |
    +------------------------------------+
*/

.mySlides{
    display: none;
}

/* Will fit the images to the current screen size. 
-------------------------------------------------- */
img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container{
    position: relative;
    margin: auto;
}

/* Fading animation */
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade{
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade{
    from {opacity: .4} 
    to {opacity: 1}
}

/* Places the text description above the images. 
-------------------------------------------------- */
.index-header, .index-information, .copyright{
    color: #fff;
    position: absolute;
}

.index-header, .index-information{
    margin-left: 7.5rem;
}

.index-header{
    margin-top: 2.5rem;
}

.index-information{
    top: 50%;
}

.copyright{
    bottom: 0px;
    right: 0px;
    margin-bottom: 2.5rem;
    margin-right: 3rem;
}
