/* Will fit the images to the current screen size. 
-------------------------------------------------- */
img{
    object-fit: cover;
    vertical-align: middle;
    height: 100vh;
    width: 100%;
}

.slideshow-container{
    position: relative;
    margin: auto;
}

.mySlides{
    display: none;
}

/*
    Fading Animation
    ================
*/

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade{
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade{
    from {opacity: .4} 
    to {opacity: 1}
}

/* Places the text description above the images. 
------------------------------------------------ */
.index-header, .index-description, .copyright{
    position: absolute;
    letter-spacing: 0.02rem;
    color: #000;
}

a{
    text-decoration: none;
    color: #000;
}

.index-header{
    font-size: 1.9rem;
    top: 5%;
    left: 8.85%;
}

/*.index-description{
    font-size: 1.9rem;
    top: 42.5%;
    left: 8.85%;
    line-height: 1.25em;
}*/

.index-description{
    font-size: 1.4rem;
    bottom: 5%;
    left: 8.85%;
}

.copyright{
    font-size: 1rem;
    padding: 0.188rem 0.625rem;
    bottom: 4%;
    right: 2%;
}

/* Opacity hover effect for the second, third, and fourth image. 
---------------------------------------------------------------- */

.second-image-container img:hover, .third-image-container img:hover, .fourth-image-container img:hover{
    transition: filter 500ms linear;
    filter: opacity(0.8);
}

/* ++ MEDIA QUERIES ++ */

@media screen and (max-width: 325px){
    .index-header, .index-description, .copyright, a{
        color: #fff;
    }

    .index-header, .index-description{
        font-size: 1.2rem;
    }

    .copyright{
        left: 6.85%;
    }
}

@media (min-width: 326px) and (max-width: 480px){
    .index-header, .index-description, .copyright, a{
        color: #fff;
    }

    .index-header, .index-description{
        font-size: 1.4rem;
    }

    .copyright{
        left: 6.85%;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .index-header, .index-description, .copyright, a{
        color: #fff;
    }
    
    .index-header, .index-description{
        font-size: 1.6rem;  
    }
    
    .copyright{
        left: 6.85%;
    }
}
