/* Will fit the images to the current screen size. 
-------------------------------------------------- */
img{
    object-fit: cover;
    vertical-align: middle;
    height: 100vh;
    width: 100%;
}

.slideshow-container{
    position: relative;
    margin: auto;
}

.slides{
    display: none;
}

/*
    Fading Animation
    ================
*/

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade{
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade{
    from {opacity: .4} 
    to {opacity: 1}
}

/* Opacity hover effect for additional slides that could be added/implemented. 
------------------------------------------------------------------------------ */

.second-image-container img:hover{
    transition: filter 500ms linear;
    filter: opacity(0.8);
}

/* Places the text description above the image. 
----------------------------------------------- */
.header, .title, .copyright{
    position: absolute;
    letter-spacing: 0.02rem;
}

a{
    text-decoration: none;
    color: #000;
}

.header{
    font-size: 1.9rem;
    top: 5%;
    left: 8.85%;
}

.title{
    font-size: 1.4rem;
    bottom: 5%;
    left: 8.85%;
}

.copyright{
    font-size: 1rem;
    bottom: 5%;
    right: 2.65%;
    color: #000;
}

/* ++ MEDIA QUERIES ++ */

@media screen and (max-width: 325px){
    .header, .title{
        font-size: 1.2rem;
    }

    .title{
        top: 42.65%;
        left: 8.85%;
    }

    .copyright{
        left: 10.5%;
        bottom: 4.5%;
    }
}

@media (min-width: 326px) and (max-width: 480px){
    .header, .title{
        font-size: 1.4rem;
    }

    .title{
        top: 42.65%;
        left: 8.85%;
    }

    .copyright{
        left: 9.5%;
        bottom: 4.3%;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .header, .title{
        font-size: 1.6rem;
    }

    .title{
        top: 42.65%;
        left: 8.85%;
    }

    .copyright{
        left: 8.5%;
        bottom: 4.3%;
    }
}
