/*
    Style Reset
    ===========
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Will fit the images to the current screen size. 
-------------------------------------------------- */
img{
    object-fit: cover;
    vertical-align: middle;
    height: 100vh;
    width: 100%;
}

.slideshow-container{
    position: relative;
    margin: auto;
}

.slides{
    display: none;
}

/*
    Fading Animation
    ================
*/

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade{
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade{
    from {opacity: .4} 
    to {opacity: 1}
}

/* Places the text description above the image. 
----------------------------------------------- */
.header, .title, .copyright{
    position: absolute;
    letter-spacing: 0.02rem;
}

a{
    text-decoration: none;
    color: #000;
}

.header{
    font-family: var(--nunito);
    font-size: 1.9rem;
    text-transform: uppercase;
    top: 5%;
    left: 8.85%;
}

.title{
    font-size: 1.4rem;
    bottom: 5%;
    left: 8.85%;
}

.copyright{
    font-size: 1rem;
    padding: 0.495rem 0.625rem;
    bottom: 4%;
    right: 2%;
}

/* Opacity hover effect for all the images. 
------------------------------------------- */
img:hover{
    transition: filter 500ms linear;
    filter: saturate(0.9);
}

/* ++ MEDIA QUERIES ++ */

@media screen and (max-width: 325px){
    .header, .title{
        font-size: 1.2rem;
    }

    .title{
        top: 42.5%;
        left: 8.85%;
    }

    .copyright{
        left: 6.85%;
    }
}

@media (min-width: 326px) and (max-width: 480px){
    .header, .title{
        font-size: 1.4rem;
    }

    .title{
        top: 42.5%;
        left: 8.85%;
    }

    .copyright{
        left: 6.85%;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .header, .title{
        font-size: 1.6rem;
    }

    .title{
        top: 42.5%;
        left: 8.85%;
    }

    .copyright{
        left: 6.85%;
    }
}
