.navbar-brand:hover{
    color: var(--text-gray-300) !important;
}

.work-title{
    font-size: 0.9rem;
}

.work-description{
    font-size: 0.8rem;
    color: var(--text-gray-200);
}

/* Header styling for all the subpages. 
--------------------------------------- */
.sm-header{
    color: rgba(0, 0, 0, 0.5);
}

.sm-text{
    color: #212121;
    line-height: 1.4em;
    font-size: .9em;
}
