.work-title{
    font-size: 0.8rem;
}

.work-title:hover{
    color: var(--text-gray-100);
}

/*
    Shining on Hover (Image Gallery)
    ================================
*/

.image-container{
    position:relative;
    overflow:hidden;
    display: inline-block;
}

.image-container:before{
    position:absolute;
    top:0;
    left:-75%;
    z-index:2;
    display:block;
    content:'';
    width:50%;
    height:100%;
    background:linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%);
    transform:skewX(-25deg);
}

.image-container:hover:before{
    animation:shine .60s;
}
  
@keyframes shine{
    0%   {left: -75%}
    100% {left: 120%;}
}
