.navbar-brand:hover{
    color: var(--text-gray-300) !important;
}

.no-hover{
    pointer-events: none;
}

.work-title{
    font-size: 0.9rem;
}

.work-description{
    font-size: 0.8rem;
    color: var(--text-gray-200);
}

div.col.text-start a{
    color: #000000;
    text-decoration: none;
}

div.col.text-start a:hover{
    color: var(---text-gray-100);
}

.fa-chevron-up{
    cursor: pointer;
    font-size: 1.3rem;
}

/* Arrow Animation */

.grow{ 
    transition: all .2s ease-in-out; 
}

.grow:hover{ 
    transform: scale(1.3); 
}
